// $colors: (
//  #3e918f,
//  #6f69be,
//  #d15c5c,
//  #eba363,
//  #4084b8,
//  #da381f,
//  #5a9a5a,
//  #b239bd,
//  #a8a81a,
// );

$colors: (
    #BD576F,
    #C95F6B,
    #CF5E5A,
    #D77957,
    #D6763A,
    #D89048,
    #D29F34,
    #CCBA4C,
    #C0B647,
    #B3B140,
    #79B055,
    #66AC78,
    #5BA37E,
    #4E9B87,
    #4E9995,
    #4F8B96,
    #4E7592,
    #516691,
    #535A90,
    #5C5791,
    #77568F,
    #8B5587,
    #9E5485,
    #B05076
);

:root {
    --tabStackBorderStyle:  solid;
    --tabStackBorderRadius: 8px;
    --tabStackBorderWidth: 2px;
    --tabStackBorderWidthNeg: -2px;      /*  borders moved the tab text and close button  */
    --tabStackBorderPaddingAdjust: 4px;  /*  so these will move them back to position     */
}

@each $color in $colors {
	$i: (index($colors, $color) * 5) % 24;
    :root {
        --tabStackBorderColor#{$i}: #{$color}
    }
    .tab-strip > span:has(.is-substack):nth-of-type(#{$i}) > div.is-substack {
        .stack-frame { 
            stroke: var(--tabStackBorderColor#{$i}); 
        }
        .tab.active { 
            background-color: var(--tabStackBorderColor#{$i}) !important; 
        }
    }
    #tabs-tabbar-container:has(#tabs-container span:nth-of-type(#{$i}) > div.is-substack .tab.active) {
        .insubstrip.active {
            background-color: var(--tabStackBorderColor#{$i}) !important;
        }
    }
}

$tab_height: 36;

.stack-frame {
    stroke-width: 8px !important;
}

div.tab-position {
    --Height: #{$tab_height}px !important;
    --PositionY2: calc((var(--PositionY) / 30) * #{$tab_height});
    transform: translateX(var(--PositionX)) translateY(var(--PositionY2)) !important;
}

div.button-toolbar.newtab {
    --PositionY2: calc((var(--PositionY) / 30) * #{$tab_height}) !important;
    top: var(--PositionY2) !important;
}

div.tab-header {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
