::-webkit-scrollbar {
    padding: 2px;
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #308280;
    border-radius: 6px;
}